<div class="pagina">
  <div class="produto-card">
    <div class="header">
      <div class="logo-icon">
        <i class="fa-solid fa-box-open"></i>
      </div>

      <h2>
        {{ modoEdicao() ? 'Editar Produto' : 'Novo Produto' }}
      </h2>

      <p>Cadastre os produtos comercializados pela Botica Origem.</p>
    </div>

    @if (erro()) {
      <div class="erro-box">
        <i class="fa-solid fa-circle-exclamation"></i>
        {{ erro() }}
      </div>
    }

    <form [formGroup]="form" (ngSubmit)="salvar()">
      <div class="campo">
        <label>Nome do Produto</label>

        <input type="text" placeholder="Ex: Sabonete de Lavanda" formControlName="nome" />

        @if (form.get('nome')?.invalid && form.get('nome')?.touched) {
          <span class="campo-erro"> Informe o nome do produto. </span>
        }
      </div>

      <div class="campo">
        <label>Descrição</label>

        <textarea rows="4" placeholder="Descrição do produto..." formControlName="descricao">
        </textarea>
      </div>

      <div class="linha">
        <div class="campo">
          <label>Valor de Venda (R$)</label>

          <input type="number" step="0.01" formControlName="valor" />

          @if (form.get('valor')?.invalid && form.get('valor')?.touched) {
            <span class="campo-erro"> Informe um valor válido. </span>
          }
        </div>

        <div class="campo">
          <label>Quantidade em Estoque</label>

          <input type="number" formControlName="quantidade" />
        </div>
      </div>

      <div class="acoes">
        <button type="button" class="btn-outline" (click)="cancelar()">Cancelar</button>

        <button type="submit" class="btn-primary">Salvar Produto</button>
      </div>
    </form>
  </div>
</div>
